:root {
  --primary-color: #4A89DC;
  /* --primary-variant: #ff2d2d; */
  --secondary-color: #37BC9B;
  --on-primary: #E6E9ED;
  --on-background: rgba(0, 0, 0, 0.5);
  --on-background-alt: rgba(0, 0, 0, 0.8);
  --background: rgb(255, 255, 255);
  /* --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5); */
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  /* --primary-variant: #6c63ff; */
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

@media print {
  body {
    background-color: var(--background); }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
  .cover, .cover-bg {
    border-radius: 0; }
  .cover.shadow-lg {
    box-shadow: none !important; }
  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important; }
  .avatar {
    margin-top: -10px; }
  .about-section {
    padding: 6.5rem 5rem 2rem !important; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }
